<div>
    <h1>INICIAR SESION</h1>
    <div>
    <div>
        <form id='loginForm'>
                <label>Email</label>
                <input name="email" class="input">
                <label>Contraseña</label>
                <input type="password" name="password" class="input">
                <input type="submit" value="Entrar">
        </form>
    </div>
</div>
<div>
    <p>¿No estas registrado?<a href="/register">Registrate!</a></p>
</div>
<script src="/js/login.js"></script>
<link rel="stylesheet" href="/css/login.css">