<div>
    <h1>Gracias por confiar en nosotros!</h1>
    <p>{{user.name}} te enviamos un email con el ticket de tu compra</p>
    <p>*no garantizamos que los productos realmente lleguen, o tal vez si...</p>
</div>